body {
  margin: 0;
  padding: 0;
  background: linear-gradient(90deg, #a1c4fd 20%, #c2e9fb 80%);
  overflow: hidden;
}

.addMusic {
  border-radius: 25px;
  padding: 10px 40px 20px 40px;
  text-align: center;
  justify-content: center;
  margin: 10% 25%;
  background: rgba(255, 255, 255, .5);
}

._h {
  font-size: 80px;
  font-family: 'Courgette', cursive;
}

._getFile {
  color: transparent;
  outline: none;
}
._getFile::-webkit-file-upload-button {
  visibility: hidden;
}
._getFile::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 25px;
}
._getFile:hover::before {
  border-color: black;
}
._getFile:active {
  outline: none;
}
._getFile:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#_getName {
  font-size: 25px;
  display: block;
  margin: 0 28%;
  margin-bottom: 10px;
  font-family: 'Courgette', cursive;
  outline: none;
}
