body
{
  border: 0;
  margin: 0;
}
.ThongSo
{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2em;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
}
.ThongSo::before
{
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 5px;
  height: 100px;
  background: #000;
}
h1
{
  display: inline;
}
#ND
{
  float: left;
}
#DA
{
  float: right;
}
#pump_, #mode_
{
  position: absolute;
  font-size: 2em;
  outline: none;
  border: none;
  left: 50%;
  border-radius: 50%;
  padding: 10px;
  background: red;
  box-shadow: 2px 3px 2px rgb(66, 66, 66);
  cursor: pointer;
}
#pump_
{
  top: 80%;
  transform: translate(-50%, -80%);
}
#mode_
{
  top: 20%;
  transform: translate(-50%, -20%);
}
.tt_mb, .tt_mode
{
  position: absolute;
  font-size: 2em;
  outline: none;
  border: none;
  left: 50%;
  padding: 10px;
}
.tt_mb
{
  top: 68%;
  transform: translate(-50%, -68%);
}
.tt_mode
{
  top: 20%;
  transform: translate(-50%, -20%);
}
