@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');
body {
	background: #000;
	margin: 0;
}
canvas {
	cursor: crosshair;
	display: block;
}
#tHPNG{
  color: #000;
  font-family: 'Courgette', cursive;
	text-align: center;
  transform: translate(-50%,-50%);
  position: absolute;
	z-index: -1;
	opacity: .9;
	display: none;
}
.holiday {
  font-family: 'Courgette', cursive;
}
.holiday span {
  margin: 0;
  padding: 0;
  animation: aa 4s linear infinite;
}
@keyframes aa {
  0%, 100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 5px #00b3ff,
                0 0 10px #00b3ff,
                0 0 20px #00b3ff,
                0 0 40px #00b3ff,
                0 0 60px #00b3ff,
                0 0 80px #00b3ff,
                0 0 100px #00b3ff;
  }
  5%, 95% {
    color: #111;
    filter: blur(0);
  }
}

.holiday span:nth-child(1) {
  animation-delay: 0s;
}
.holiday span:nth-child(2) {
  animation-delay: 0.25s;
}
.holiday span:nth-child(3) {
  animation-delay: .5s;
}
.holiday span:nth-child(4) {
  animation-delay: .75s;
}
.holiday span:nth-child(5) {
  animation-delay: 1s;
}
.holiday span:nth-child(6) {
  margin: 0 10px;
}
.holiday span:nth-child(7) {
  animation-delay: 1.25s;
}
.holiday span:nth-child(8) {
  animation-delay: 1.5s;
}
.holiday span:nth-child(9) {
  animation-delay: 1.75s;
}
.holiday span:nth-child(10) {
	margin: 0 10px;
}
.holiday span:nth-child(11) {
  animation-delay: 2s;
}
.holiday span:nth-child(12) {
  animation-delay: 2.25s;
}
.holiday span:nth-child(13) {
  animation-delay: 2.5s;
}
.holiday span:nth-child(14) {
  animation-delay: 2.75s;
}
.holiday span:nth-child(15) {
  animation-delay: 3s;
}
.holiday span:nth-child(16) {
  animation-delay: 3.25s;
}
.holiday span:nth-child(17) {
  animation-delay: 3.5s;
}
.holiday span:nth-child(18) {
  animation-delay: 3.75s;
}
#_time {
	color: #fff;
	font-size: 25px;
	top: 25%;
	left: 50%;
	transform: translateX(-50%);
	position: absolute;
	text-align: center;
	z-index: 3;
}
#dark {
	background: #000;
	z-index: 2;
	position: absolute;
}
#dark li {
	position: absolute;
	height: 55px;
	width: 55px;
	background: transparent;
	list-style: none;
	padding: 0;
	top: -60px;
	z-index: 1;
	transition: all 3s ease-out;
	animation: heart 4s linear infinite;
}

#dark li::before{
	content: '';
	height: 60px;
	width: 40px;
	background: #f00;
	position: absolute;
	border-radius: 50% 50% 0 0;
	transform: rotate(-90deg);
	left: 10%;
	bottom: -20%;
}
#dark li::after{
	content: '';
	height: 40px;
	width: 60px;
	background: #f00;
	position: absolute;
	border-radius: 0 50% 50% 0;
	transform: rotate(-90deg);
	left: 10%;
	bottom: 20%;
}

#dark li:nth-child(2n+1) {
	left: 30%;
	animation-delay: 1s;
}
#dark li:nth-child(2n+2) {
	left: 35%;
	animation-delay: 3s;
}
#dark li:nth-child(2n+3) {
	left: 40%;
	animation-delay: 1.5s;
}
#dark li:nth-child(2n+4) {
	left: 45%;
	animation-delay: 0s;
}
#dark li:nth-child(2n+5) {
	left: 50%;
	animation-delay: 2s;
}
#dark li:nth-child(2n+6) {
	left: 55%;
	animation-delay: 1.5s;
}
#dark li:nth-child(2n+7) {
	left: 60%;
	animation-delay: 2.5s;
}
#dark li:nth-child(2n+8) {
	left: 65%;
	animation-delay: 3s;
}
#dark li:nth-child(2n+9) {
	left: 30%;
	animation-delay: 1s;
}
#dark li:nth-child(2n+10) {
	left: 35%;
	animation-delay: .5s;
}
#dark li:nth-child(2n+11) {
	left: 40%;
	animation-delay: 3.5s;
}
#dark li:nth-child(2n+12) {
	left: 45%;
	animation-delay: 3s;
}
#dark li:nth-child(2n+13) {
	left: 50%;
	animation-delay: .5s;
}
#dark li:nth-child(2n+14) {
	left: 55%;
	animation-delay: 1.5s;
}
#dark li:nth-child(2n+15) {
	left: 60%;
	animation-delay: 4s;
}
#dark li:nth-child(2n+16) {
	left: 65%;
	animation-delay: 1s;
}
@keyframes heart {
	0% {
		top: -60px;
		transform: rotate(0deg);
		opacity: 1;
	}
	50% {
		top: 50%;
		transform: rotate(180deg);
		opacity: .5;
	}
	100% {
		top: 90%;
		transform: rotate(360deg);
		opacity: 0;
	}
}
